[acesso]
email=agussybanez@gmail.com
senha=Agus123
[trade]
tipo_conta=T
preco=1
expiracao=1
delay=1
payout=0
otc=S
preco_percentual=False
tipo_opcao=D
[martingale]
tipo_martingale=M
aplicar_martingale=V
martingale_maximo=1
martingale_fator=1.80
martingale_alternado=False
soro_percentual=100
soro_maximo=1
sorosgale_tipo=Conservador
sorosgale_capital=0
sorosgale_payout=80
sorosgale_ciclo=1
sorosgale_usarbanca=False
sorosgale_velasinal=V
sorosgale_qtdegale=0
[controle]
verifica_ativo_fechado=S
horario_servidor=S
ajuste1=15
ajuste2=30
fuso_horario=America/Argentina/Buenos_Aires
verifica_tendencia=N
tipo_tendencia=F
mafast_tipo=EMA
maslow_tipo=SMA
mafast=14
maslow=100
timeframe_tendencia_custom=M5
[gerenciamento]
takeprofit=16
stoploss=25
gerenciamento_percentual=False
